@using System.Web.Optimization
@{

}
<div class="container" ng-app="search" ng-controller="searchController" tabindex="0" ng-keypress="searchTyped($event)">
    <header>
        <h3>Search</h3>
        <h5>Start typing...</h5>
    </header>
    <div>
        <input type="text" class="search-box" ng-model="searchCriteria" focus-me="focusControl" />
    </div>
    <div class="results-wrapper">
        <div class="results-panel">
            <div class="search-group" ng-animate="'animate'" ng-repeat="group in searchGroups">
                <div>
                    <h5 ng-cloak>{{group.title}}</h5>
                    <hr />
                    <ul class="stack">
                        <li ng-cloak ng-repeat="item in group.results" ng-animate="'animate'">{{item.title}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/scripts/app")
}
